<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/update_password.css') }}">

<body>
    <div class="login-container">
    <h2  class="login-heading">Change Password</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    {% if message == "Password updated successfully." %}
                        <p style="color: green;">{{ message }}</p>
                    {% else %}
                        <p style="color: red;">{{ message }}</p>
                    {% endif %}
                {% endfor %}
        {% endif %}
    {% endwith %}
    <form id="change_password_form" action="/update_password" method="post">
        <input class="input-field1" type="text" id="doctor_id" name="doctor_id" value="{{ session.user }}" readonly><br><br>
        <input class="input-field" type="password" name="new_password" id="new_password" placeholder="New Password"><br><br>
        <input class="input-field" type="password" name="retype_password" id="retype_password" placeholder="Retype New Password"><br>
        <input type="submit" value="Change Password"  class="login-btn">
    </form>
    <a href="/go_to_login">Go to login page</a></div>
</body>
</html>
